body{
    background-color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    color: aquamarine;
    text-decoration: none;
}
header, h2, footer{
    text-align: center;
}
img{
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}