body{
  background-color: darkgreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 45px;
margin-right: 45px;
}
a{
  color: aquamarine;
  text-decoration: none;
}
header, h2, footer{
  text-align: center;
}
img{
align-items: center;
width: 20%;
  height: 20%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(9){
  background-color: gray;
}

li {
display: list-item;
padding: 2px;
margin-bottom: 3px;
}

@media (min-width: 576px) {
  body{
    background-color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 2px;
    padding-left: 2px;
   
}
p {
  font-size: 15px;
}
nav {
  margin-right:-10px;
  margin-left:-10px;
}
ul{
  margin-left: 0;
  margin-right: 0;
}
 li {
  font-size: 15px;
display: list-item;
  padding-right: 0;
  padding-left: 0;
margin-bottom: 3px;
margin-left: 0;
  margin-right: 0;
}
a{
    color: aquamarine;
    text-decoration: none;
}
header, h1, h2, footer {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}
img{
   align-items: center;
    margin-left: 0;
    margin-right: 0;
    width: 50%;
  height: 50%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
 
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
 
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr:nth-child(9){
    background-color: gray;
  }



 }

 #calc
{
 width:250px;
  background-color:#cccccc;
  text-align:center;
  border:outset;
  padding:5px;
}
     
/*Change the style of the buttons*/
input
{
  font-family:"Courier New";
  text-align:right;
}
.normal {
font-weight:normal
}
/*Slideshow css*/



* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  width: 50%;
  height: 50%;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
