body{
    background-color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    color: aquamarine;
    text-decoration: none;
}
header, h2, footer{
    text-align: center;
}
img{
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr:nth-child(9){
    background-color: gray;
  }

  @media (min-width: 576px) { 
    body{
      background-color: darkgreen;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  a{
      color: aquamarine;
      text-decoration: none;
  }
  header, h2, footer{
      text-align: center;
  }
  img{
      max-width: 50%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    tr:nth-child(9){
      background-color: gray;
    }



   }

   #calc
{
   width:250px;
    background-color:#cccccc;
    text-align:center;
    border:outset;
    padding:5px;
}
        
/*Change the style of the buttons*/
input
{
    font-family:"Courier New";
    text-align:right;
 }
 .normal {
  font-weight:normal
}
