<nav>
    <a href="https://webpages.charlotte.edu/nmedehal/">Charlotte.edu</a>
    ||
    <a href="https://github.com/nmedehalreddy">Github</a>
    ||
    <a href="https://nmedehalreddy.github.io/">Github.io</a>
    ||
    <a href="https://webpages.charlotte.edu/nmedehal/itis3135/">ITIS 3135 Github Pages </a>
    ||
    <a href="https://www.freecodecamp.org/nmedehalreddy">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/nmedehalreddy">Codecademy</a>
    ||
    <a href="https://www.linkedin.com/in/nehamedehalreddy/">LinkedIn</a>
    
</nav>
<p>Designed by <a href="reddysdesigncorp.com/">Reddy's Design Corp </a>&copy; 2023 </p>
<p><a href="https://www.freecodecamp.org/certification/nmedehalreddy/responsive-web-design">Certified in responsive web design </a>&copy; 2023 </p>
<p><a href="https://www.freecodecamp.org/certification/nmedehalreddy/javascript-algorithms-and-data-structures">Certified in javascript-algorithms-and-data-structures </a>&copy; 2023 </p>
<a href="" id="validation_link_html"></a>
<script src="scripts/HTMLInclude.min.js"></script>

<a href="https://validator.w3.org/check?uri=referer">
    <img src="images/button-valid-html5.gif" width="88" height="31" alt="Link to HTML validator"></a>

  <a href="https://jigsaw.w3.org/css-validator/check/referer">
    <img src="images/button-valid-css.gif" width="88" height="31" alt="Link to CSS validator"></a>