<nav>
    <a href="https://webpages.charlotte.edu/nmedehal/">Charlotte.edu</a>
    ||
    <a href="https://github.com/nmedehalreddy">Github</a>
    ||
    <a href="https://nmedehalreddy.github.io/">Github.io</a>
    ||
    <a href="https://webpages.charlotte.edu/nmedehal/itis3135/">ITIS 3135 Github Pages </a>
    ||
    <a href="https://www.freecodecamp.org/nmedehalreddy">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/nmedehalreddy">Codecademy</a>
    ||
    <a href="https://www.linkedin.com/in/nehamedehalreddy/">LinkedIn</a>
    
</nav>
<p>Page Built by <a href="reddysdesigncorp.com/">Reddy's Design Corp </a>&copy; 2023 </p> 
<!--
<a href="https://validator.w3.org/check?uri=referer">
    <img style="border:0;width:88px;height:31px" src="images/w3c-html-validation.png" alt="Valid HTML!">
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer">
    <img style="border:0;width:88px;height:31px" src="images/w3c-css-validation.png" alt="Valid CSS!">
</a>
!-->
